.app {
     background: url(../assets/background.jpg) no-repeat center center fixed;
     -webkit-background-size: cover;
     -moz-background-size: cover;
     -o-background-size: cover;
     background-size: cover;
     font-family: 'Roboto', sans-serif;
}

.window {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: row;
}

.window__sidebar {
    width: 150px;
    height: 500px;
    background-color: rgba(16, 16, 34, 0.9);
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.8);
    box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.8);
}

.window__sidebar__options {
    border-top-left-radius: 10px;
    width: 150px;
    height: 40px;
    background-color: #101022;
}

.options {
    display: flex;
    flex-direction: row;
    margin-left: 5px;
}

.options__button {
    width: 10px;
    height: 10px;
    border-radius: 5px;
    margin-top: 15px;
    margin-left: 10px;
}

.options__button--close {
    background-color: #ff594f;
}

.options__button--minimize {
    background-color: #ffbc1b;
}

.options__button--maximize {
    background-color: #00cd46;
}

.filters {
    margin: 0;
    padding: 0;
    list-style: none;
}

.filters__item {
    width: 150px;
    height: 50px;
    font-size: 14px;
    padding-left: 15px;
    display: flex;
    align-items: center;
    flex-direction: row;
    cursor: pointer;
}

.filters__item:hover {
    background-color: #1c1d31;
}

.filters__item:active {
    background-color: #292a48;
}

.filters__item--active {
    background-color: #292a48;
}

.filters__item__icon {
    width: 16px;
    height: 16px;
}

.filters__item__name {
    color: #ffffff;
    padding-left: 9px;
}

.filters__item__count {
    position: absolute;
    color: #8a8995;
    left: 122px;
    text-align: center;
    width: 16px;
}


.window__list {
    height: 500px;
    width: 500px;
    overflow: auto;
    background-color: #f6f6f6;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    -webkit-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.54);
    -moz-box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.54);
    box-shadow: 0px 0px 21px -1px rgba(0, 0, 0, 0.54);
}

.list {
    list-style: none;
    padding: 0;
    margin-left: 14px;
}

.list__date-section {
    margin-top: 10px;
}

.list__date-section__date {
    color: #8a8995;
    font-size: 12px;
}

.issue-list {
    list-style: none;
    padding: 0;
    margin-top: 10px;
}

.issue-list__element {
    position: relative;
    width: 465px;
    height: 40px;
    border-radius: 5px;
    margin-bottom: 4px;
    background-color: #ffffff;
    border: 1px solid #e0e0e0;
    display: flex;
    align-items: center;
}

.issue-list__element__title {
    font-size: 15px;
    color: #080606;
    padding-left: 13px;
}

.issue-list__element__star {
    position: absolute;
    right: 13px;
    cursor: pointer;
}
